/* ISI KONTEN */
.container1 {
  width: 50%;
  margin: auto;
  align-items: baseline;
  justify-items: auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.form input {
  height: 40px;
  margin-bottom: 20px;
}

.form select {
  height: 40px;
  margin-bottom: 20px;
}

.btn-submit {
  width: 120px;
  height: 30px;
  background-color: black;
  color: white;
  margin-left: auto;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
}

.btn-submit:hover {
  color: black;
  background-color: green;
  border: none;
}
